<!doctype html>
<html lang="pt-BR" class="h-full">

<head>
    <%- include("../head") %>
</head>

<body class="h-full bg-slate-50">
    <div id="app" class="w-full h-full overflow-x-hidden overflow-y-auto ">
        <%- include("../componentes/pagina-inicial/top-bar") %>

        <!-- Header Principal -->
        <header id="main-header" class="bg-blue-800 shadow-md sticky top-0 z-50">
            <div class="max-w-7xl mx-auto px-4 bg-blue-800">
                <div class="flex items-center justify-between py-4 bg-blue-800">
                    <%- include("../componentes/pagina-inicial/header-principal/logo") %>
                    <!-- Navigation Desktop -->
                    <nav class="hidden lg:flex items-center gap-1 " id="main-nav">
                        <%- include("../componentes/pagina-inicial/header-principal/botao-inicio") %>
                        <%- include("../componentes/pagina-inicial/header-principal/nav-item-institucional") %>
                        <%- include("../componentes/pagina-inicial/header-principal/nav-item-ensino") %>
                        <%- include("../componentes/pagina-inicial/header-principal/nav-item-unidades") %>
                        <%- include("../componentes/pagina-inicial/header-principal/nav-item-servicos") %>
                        <%- include("../componentes/pagina-inicial/header-principal/nav-item-NTM") %>
                        <%- include("../componentes/pagina-inicial/header-principal/nav-item-sistemas") %>


                    </nav>
                    <%- include("../componentes/pagina-inicial/header-principal/mobile-menu-button") %>
                </div>
            </div>
            <%- include("../componentes/pagina-inicial/mobile-menu") %>
        </header>
        <%- include("../componentes/pagina-inicial/banner-principal") %>
        <%- include("../componentes/pagina-inicial/botoes-acesso") %>
        <%- include("../componentes/pagina-inicial/estatisticas") %>
        <%- include("../componentes/pagina-inicial/noticias-sessao") %>
        <%- include("../componentes/pagina-inicial/servicos-sessao") %>
        <%- include("../componentes/pagina-inicial/programas-sessao") %>
        <%- include("../componentes/pagina-inicial/footer") %>
    </div>
    <script src="/scripts/pagina-inicial/scripts.js"></script>
</body>

</html>